 <!-- Sección Sobre Nosotros -->
 <section>
  <div class=" text-white p-5 about">

    <div class="contenedor-titulo">
      <h2 class="titulo">
        Sobre nosotros
      </h2>
    </div>
    <div class="row">
      <div class="col-md-7 d-flex justify-content-center">
        <img loading="lazy" class="img-fluid" src="./assets/avatars.png" alt="avatar about us">
      </div>
      <div class="col-md-5 d-flex flex-column align-items-center">
        <p class="my-3">
          A través de este curso fuimos formando nuestro profesionalismo e implementando lo aprendido durante el curso.
          Con la creación de este proyecto buscamos una solución a la problemática de ausentarse en horarios de clase y
          compartimos nuestra practica para poder ayudar a los demás alumnos de semestres inferiores y superiores.
        </p>
        <p class="my-2">
          Somos estudiantes de octavo semestre de la carrera de Ingeniería en Sistemas de la información y ciencias de
          la computación; en la universidad Mariano Gálvez de Guatemala en la sede de Petén.
        </p>
      </div>
    </div>
  </div>
</section>

