.footer-bg{
  background-image: url(/assets/fondo.jfif);
  /* para no repetir la imagen */
  background-repeat: no-repeat;
  /* que cubra todo el contenedor */
  background-size: cover;
  background-position: center center;
}


h3,p,a{
  color: white;
}