<!-- Sección Banner -->

<section>
  <div class="my-5 row">
    <div class="col-md-6">
      <h2 class="fw-bold title-banner fs-1">Regístrate y pide tu permiso</h2>
      <p class="paragraph-banner">Conoceréis la verdad, y la verdad os hará libres.</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <img loading="lazy" class="img-fuid" src="./assets/Alumnos.png" alt="logo banner">
    </div>

  </div>
</section>

<!-- Sección anuncio -->
<section>
  <div class="advertisement row">
    <div class="col-8">
      <img src="./assets/about.png" class="img-fluid" alt="Imagen Advertisement">
    </div>
    <div class="col-4">
      <h2 class="text-center text-white">Pedir permisos ¡nunca había sido tan fácil!</h2>
    </div>
  </div>
</section>
